@use '../abstracts/variables' as *;
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 80px;
  padding: 40px;
  max-width: 1150px;
  margin: 0 auto;
  display: -ms-grid;
}


.left-section {
  margin-left: 0; 
  max-width: 100%;
  
}

.right-section {
  margin-right: 0;
  max-width: 100%; 
  padding: 0;
  margin-top: 40px; 
  margin-left: 30px;
}

.number {
  font-size: 72px; 
  font-weight: bold;
  color: #f0b90b; 
  margin-bottom: 20px;
}

.text {
  font-size: 72px; 
  font-weight: bold;
  color: var(--text-color); 
  line-height: 1.2;
}

.text p {
  margin: 0;
}
.input-field.valid {
  border: 2px solid #4CAF50 !important;
  background-color: rgba(76, 175, 80, 0.05);
}
@media (max-width: 768px) {
  .text{
    font-size: 36px;
  }
  .number{
    font-size: 36px;
  }
  .main-content {
      grid-template-columns: 1fr; 
  }
  nav a{
    font-size: 10px;
  }
  img{
    height: 32px;
    width: 60px;
  }
  .reg-button {
  max-height: 16px;
  max-width: 8px !important;
  padding: 0 0px !important;
  font-size: 10px !important;
}
  .log-button {
  max-height: 16px;
  max-width: 8px;
  padding: 0 24px;
  font-size: 10px !important;
  font-weight: 500;

}
}